<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/" (click)="isMenuCollapsed = true">OShop</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart" (click)="isMenuCollapsed = true">Shopping Cart</a>
        </li>
        <ng-template #anonymousUser>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" (click)="isMenuCollapsed = true">Login</a>
            </li>
        </ng-template>
        
        <li ngbDropdown *ngIf="loggedInUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ loggedInUser.name }}
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdown01">
                <a ngbDropdownItem routerLink="/my/orders" (click)="isMenuCollapsed = true">My Orders</a>

                <ng-container *ngIf="loggedInUser.isAdmin">
                    <a ngbDropdownItem routerLink="/admin/orders" (click)="isMenuCollapsed = true">Manage Orders</a>
                    <a ngbDropdownItem routerLink="/admin/products" (click)="isMenuCollapsed = true">Manage Products</a>
                </ng-container>
               
                <a ngbDropdownItem (click)="logout()">Logout</a>
            </div>
        </li>
        </ul>
    </div>
</nav>
  